<a href="https://colab.research.google.com/github/JessicaGtz21/regresi-n-lineal-homicidios-/blob/main/ANALISIS_OFICINA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import load_dataset
# dataset reporte de formatos
data = pd.read_excel("/content/reportedeformatos.xlsx")

import warnings
warnings.filterwarnings("ignore")
#reportedeformatos dataset
reportedeformatos = load_dataset("reportedeformatos")

In [ ]:
data.head()

,46559,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,TÍTULO,NaN,NaN,NOMBRE CORTO,NaN,NaN,DESCRIPCIÓN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Servicios ofrecidos,NaN,NaN,NLA95FXX,NaN,NaN,La información para dar a conocer los servicio...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,4,4,2,9,1,2,1,2,2,...,2,2,2,10,10,7,2,4,13,14
3,393412,393413,393414,393399,393417,393421,393401,393419,393402,393403,...,393405,566201,566202,566203,393410,393407,393416,393406,393411,393415
4,Tabla Campos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.shape

(97, 32)

In [ ]:
data.head()

,46559,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,TÍTULO,NaN,NaN,NOMBRE CORTO,NaN,NaN,DESCRIPCIÓN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Servicios ofrecidos,NaN,NaN,NLA95FXX,NaN,NaN,La información para dar a conocer los servicio...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,4,4,2,9,1,2,1,2,2,...,2,2,2,10,10,7,2,4,13,14
3,393412,393413,393414,393399,393417,393421,393401,393419,393402,393403,...,393405,566201,566202,566203,393410,393407,393416,393406,393411,393415
4,Tabla Campos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.sample(7)

,46559,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
68,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Recolección de ramas,Directo,Ciudadanía en General,Mejorar la imagen del municipio,Presencial,Relizar un reporte al CIAC,Folio del CIAC,...,Inconformidad,Folio del CIAC,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
9,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Visto bueno de Simulacro,Directo,"Establecimientos del sector publico, privado y...",obtener cedula de Evaluacion de simulacro,presencial,Solicitud por escrito y pago de servicio,Solicitud por escrito libre,...,Por no obtener una respuesta,numero de reporte o servicio,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
66,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Limpieza y desmalezado de plazas,Directo,Ciudadanía en General,Mejorar la imagen del municipio,Presencial,Relizar un reporte al CIAC,Folio del CIAC,...,Inconformidad,Folio del CIAC,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
34,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Pláticas y brigadas de promoción a la salud,Directo,Ciudadanía en general,Promover actividades para mejorar el nivel de ...,Presencial,Hacer la petición vía oficio,ninguno,...,Negativa Ficta,numero de reporte o servicio,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
14,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Canalización para Atención de Adicciones,Directo,Personas con problemas de adicciones,Contar con información necesaria de los centro...,presencial,Acudir a las oficinas de Prevención del Delito...,Identificación Oficial,...,Reportar ante superiores jerárquicos de la Uni...,numero de reporte o servicio,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
86,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Centros de atencion infantil (CAI) y estancias...,Directo,Hijos de padres trabajadores que radiquen en e...,Brindamos educación inicial a niños de 1 año 4...,Presencial,Cuando los padres o tutores legales trabajen y...,"Acta de nacimiento del menor, cartilla de vacu...",...,"Secretaría de la Contraloría y Transparencia,M...",numero de reporte o servicio,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
75,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,Reparación de luminarias,Directo,Ciudadanía en General,Mejorar la imagen del municipio,Presencial,Relizar un reporte al CIAC,Folio del CIAC,...,Inconformidad,Folio del CIAC,no dato,1,1,NaN,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   46559        97 non-null     object
 1   Unnamed: 1   94 non-null     object
 2   Unnamed: 2   94 non-null     object
 3   Unnamed: 3   96 non-null     object
 4   Unnamed: 4   94 non-null     object
 5   Unnamed: 5   94 non-null     object
 6   Unnamed: 6   96 non-null     object
 7   Unnamed: 7   94 non-null     object
 8   Unnamed: 8   94 non-null     object
 9   Unnamed: 9   94 non-null     object
 10  Unnamed: 10  94 non-null     object
 11  Unnamed: 11  94 non-null     object
 12  Unnamed: 12  94 non-null     object
 13  Unnamed: 13  94 non-null     object
 14  Unnamed: 14  94 non-null     object
 15  Unnamed: 15  94 non-null     object
 16  Unnamed: 16  94 non-null     object
 17  Unnamed: 17  94 non-null     object
 18  Unnamed: 18  94 non-null     object
 19  Unnamed: 19  94 non-null     object
 20  Unnamed: 20  94 non-null     object
 21  Unnamed: 21  94 non-null     object
 22  Unnamed: 22  94 non-null     object
 23  Unnamed: 23  94 non-null     object
 24  Unnamed: 24  94 non-null     object
 25  Unnamed: 25  94 non-null     object
 26  Unnamed: 26  94 non-null     object
 27  Unnamed: 27  19 non-null     object
 28  Unnamed: 28  94 non-null     object
 29  Unnamed: 29  94 non-null     object
 30  Unnamed: 30  94 non-null     object
 31  Unnamed: 31  94 non-null     object
dtypes: object(32)
memory usage: 24.4+ KB

In [ ]:
data.isnull().sum()

46559           0
Unnamed: 1      3
Unnamed: 2      3
Unnamed: 3      1
Unnamed: 4      3
Unnamed: 5      3
Unnamed: 6      1
Unnamed: 7      3
Unnamed: 8      3
Unnamed: 9      3
Unnamed: 10     3
Unnamed: 11     3
Unnamed: 12     3
Unnamed: 13     3
Unnamed: 14     3
Unnamed: 15     3
Unnamed: 16     3
Unnamed: 17     3
Unnamed: 18     3
Unnamed: 19     3
Unnamed: 20     3
Unnamed: 21     3
Unnamed: 22     3
Unnamed: 23     3
Unnamed: 24     3
Unnamed: 25     3
Unnamed: 26     3
Unnamed: 27    78
Unnamed: 28     3
Unnamed: 29     3
Unnamed: 30     3
Unnamed: 31     3
dtype: int64

In [ ]:
data.isnull().sum().sort_values(ascending=False).head()

Unnamed: 27    78
Unnamed: 16     3
Unnamed: 1      3
Unnamed: 30     3
Unnamed: 29     3
dtype: int64

In [ ]:
data.describe()

,46559,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
count,97,94,94,96,94,94,96,94,94,94,...,94,94,94,94,94,19,94,94,94,94
unique,7,4,4,96,4,27,71,5,48,29,...,10,5,4,4,4,18,4,4,4,5
top,2022,2022-12-01 00:00:00,2022-12-31 00:00:00,NOMBRE CORTO,Directo,Ciudadanía en General,Mejorar la imagen del municipio,Presencial,Relizar un reporte al CIAC,Folio del CIAC,...,Inconformidad,numero de reporte o servicio,no dato,1,1,http://www.stacatarina.gob.mx/t2/ofp/1030/serv...,Unidad de Mejora Regulatoria,2023-01-27 00:00:00,2022-12-31 00:00:00,"No se cuenta con catálogo, manual o sistema ni..."
freq,91,91,91,1,91,34,16,83,24,27,...,48,62,91,91,91,2,91,91,91,90

In [ ]:
data.duplicated().sum()

0